[submodule "themes/PaperModX"]
	path = themes/PaperModX
	url = https://github.com/reorx/hugo-PaperModX
[submodule "themes/hugo-cite"]
	path = themes/hugo-cite
	url = https://github.com/rdnfn/hugo-cite
