<div class="tweet-ref">
  {{- $url := .Get 0 -}}
  From <a href="{{ $url }}">{{ strings.TrimPrefix "https://" $url }}</a>:

  {{- $dnt := true -}}
  {{- $url := printf "https://twitter.com/%v/status/%v" .user .id -}}
  {{- $query := querify "url" $url "dnt" $dnt -}}
  {{- $request := printf "https://publish.twitter.com/oembed?%s" $query -}}
  
  {{- with resources.GetRemote $request -}}
    {{- with . | transform.Unmarshal -}}
      {{- replaceRE "<script.+/script>" "" .html | safeHTML -}}
    {{- end -}}
  {{- end -}}
</div>
